.portfolio__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__skills-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio__skills-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
}

.portfolio__skills-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.portfolio__skills-content_div {
    width: 40rem;
    height: 260px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    
    background-color: var(--color-footer);

    padding: 0 1rem;
    /* box-shadow: 0 0 1.5rem 0.1rem #AE67FA; */

    border: 3px solid var(--color-text);
    border-radius: 10px;
}

.portfolio__skills-content_div-logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.portfolio__skills-content_div-logo img {
    width: 8rem;
    height: 8rem;
}

.portfolio__skills-content_div-list {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
}

.portfolio__skills-content_div p {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    margin: 0.5rem 0;
}

@media screen and (max-width: 915px) {
    .portfolio__skills-heading h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__skills-heading h1 {
        font-size: 41px;
    }
    .portfolio__skills-content_div img {
        width: 6rem;
        height: 6rem;
    }
    .portfolio__skills-content_div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__skills-heading h1 {
        font-size: 28px;
    }
    .portfolio__skills-content_div-list {
        width: 100%;
    }
    .portfolio__skills-content_div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .portfolio__skills-heading h1 {
        font-size: 18px;
    }
    .portfolio__skills-content_div {
        height: 230px;
        padding: 0;
        margin: 0.3rem;
    }
    .portfolio__skills-content_div-logo {
        width: 70%;
    }
    .portfolio__skills-content_div img {
        width: 4rem;
        height: 4rem;
    }
    .portfolio__skills-content_div p {
        font-size: 12px;
    }
}