.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: -1;
}

.modalContainer {
    width: 40rem;
    height: 27rem;
    border-radius: 12px;
    background-color: var(--color-bg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.modalContainer-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.modalContainer-heading h1 {
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 800;
}

.modalContainer-heading p {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-text);
}

.modalContainer-heading-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.modalContainer-heading-logo img {
    width: 16rem;
    height: 16rem;
}

.modalContainer-form {
    width: 120%;
}

.modalContainer-form form {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.modalContainer-form-input {
    width: 100%;
    height: 1.8rem;
    font-family: var(--font-family);
    font-size: 17px;
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
}

.modalContainer-form-ta {
    width: 100%;
    height: 10rem;
    font-family: var(--font-family);
    font-size: 15px;
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
}

.contactForm_input {
    margin-top: 1rem;
    height: 3rem;
}

.contactForm_message {
    margin-top: 1.3rem;
    height: 12rem;
}

#contactForm_nameValid {
    display: none;
    color: red;
    text-align: right;
    font-size: 14px;
}

#contactForm_emailValid {
    display: none;
    color: red;
    text-align: right;
    font-size: 14px;
}

#contactForm_messageValid {
    display: none;
    color: red;
    color: red;
    text-align: right;
    font-size: 14px;
}

.modalContainer-form-btn {
    border-radius: 16px;
    background-color: var(--color-blog);
}

.modalContainer-form-btn-p {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

@media screen and (max-width: 650px) {
    .modalContainer {
        flex-direction: column;
        width: 30rem;
        height: 43rem;
    }
    .modalContainer-heading-logo img {
        height: 10rem;
        width: 10rem;
    }
    .modalContainer-form {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .modalContainer {
        justify-content: flex-start;
        width: 21rem;
        height: 41rem;
    }
    .modalContainer-heading-logo img {
        height: 8rem;
        width: 8rem;
    }
}

@media screen and (max-width: 350px) {
    .modalContainer {
        width: 17rem;
        height: 40rem;
    }
    .modalContainer-heading h1 {
        font-size: 21px;
    }
    .modalContainer-form-btn-p {
        font-size: 26px;
    }
}