.portfolio__header {
    display: flex;
}

.portfolio__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.portfolio__header-content h2 {
    font-family: papyrus;
    font-weight: 500;
    font-size: 43px;
    line-height: 52px;
    color: var(--color-text);
}

.portfolio__header-content h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: right;
    width: 100%;
    color: var(--color-text);
}

.portfolio__header-content__title {
    width: 80%;
    margin-bottom: 2rem;
    color: var(--color-text);
    font-size: 23px;
}

.portfolio__header-content__title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    width: 100%;
    text-align: center;
}

.portfolio__header-content__title-sub {
    width: 100%;
    color: var(--color-text);
    text-align: right;
}

.portfolio__header-content__title-sub span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
}

.portfolio__header-content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.portfolio__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.portfolio__header-content__input a {
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
}

.portfolio__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .portfolio__header {
        flex-direction: column;
    }
    .portfolio__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 900px) {
    .portfolio__header h2 {
        font-size: 40px;
        line-height: 51px;
    }
}

@media screen and (max-width: 850px) {
    .portfolio__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .portfolio__header h2 {
        font-size: 34px;
        line-height: 51px;
    }
    .portfolio__header h3 {
        font-size: 22px;
        line-height: 42px;
    }
    .portfolio__header h4 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width: 650px) {
    .portfolio__header-content__title {
        width: 100%;
    }
    .portfolio__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .portfolio__header h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .portfolio__header h3 {
        font-size: 22px;
        line-height: 38px;
    }
    .portfolio__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .portfolio__header h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .portfolio__header h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .portfolio__header h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__header h4 {
        font-size: 14px;
        line-height: 25px;
    }
    .portfolio__header p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 390px) {
    .portfolio__header h1 {
        font-size: 25px;
        line-height: 34px;
    }
    .portfolio__header h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .portfolio__header span {
        font-size: 14px;
        line-height: 24px;
    }
    .portfolio__header h4 {
        font-size: 14px;
        line-height: 25px;
    }
}
